<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diethub">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Add_AddressesActivity"></activity>
        <activity android:name=".Modify_AddressesActivity" />
        <activity android:name=".Delivery_AddressesActivity" />
        <activity android:name=".Modify_PasswordActivity" />
        <activity android:name=".Enter_Discount_CodeActivity" />
        <activity android:name=".Modify_personal_InfoActivity" />
        <activity android:name=".NewPassword_Activity" />
        <activity android:name=".Enter_CodeActivity" />
        <activity android:name=".Password_RecoveryActivity" />
        <activity android:name=".Registration_Activity" />
        <activity android:name=".Login_inActivity" />
        <activity android:name=".Time_AllocationActivity" />
        <activity android:name=".Nutritional_CounselingActivity" />
        <activity android:name=".Conditions_Activity" />
        <activity android:name=".AboutUs_Activity" />
        <activity android:name=".Notification_Activity" />
        <activity android:name=".FavoriteActivity" />
        <activity android:name=".Details_OrderActivity" />
        <activity android:name=".Choose_Payment_WaysActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".Personal_InformationActivity" />
        <activity android:name=".Details_Activity" />
        <activity android:name=".ListOrderActivity2" />
        <activity android:name=".Orders_Activity" />
        <activity android:name=".Addresses_Activity" />
        <activity android:name=".Wallet_Activity" />
        <activity android:name=".Account_Activity" />
        <activity android:name=".Details_Package_Activity" />
        <activity android:name=".PackagesActivity" />
        <activity android:name=".RatingsActivity" />
        <activity android:name=".DetailsOfMealActivity" />
        <activity android:name=".MenuOfResturantsActivity" />
        <activity android:name=".RestaurantsActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>